body {
    font-family: 'Lemonada', cursive;
    text-rendering: geometricPrecision;
    font-weight: 700;
}

.right-col {
    justify-content: center;
    flex-direction: column;
}

.hell {
    font-family: 'Lemonada', cursive;
    text-rendering: geometricPrecision;
}